.contact {
  padding: 2rem 1rem;
  font-family: "Open Sans", sans-serif;
}

.contact h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
  color: #b5651d;
  font-family: "Playfair Display", serif;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .contact-container {
    flex-direction: row;
    gap: 4rem;
  }

  .contact h1 {
    font-size: 2.5rem;
  }
}
